@model SDMan.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "GetRoles";
}
<p>
    <a class="btn btn-primary" asp-action="CreateRole">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListRole)
        {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditRole" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
