@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated) { 
    <div style="text-align:center">
        <h1 class="display-4">Welcome to SDMan App</h1>
    </div>
}
else{
    @model SDMan.ViewModel.LoginViewModel
<div  class="jumbotron">
    <div class="text-center" style="padding:100px;">
        <form asp-controller="Account" asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" style="text-align:center"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" style="text-align:center"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

}

