@model SDMan.Models.IncidentModel
<h4>RecipeModel</h4>
<hr />
<script>
    $(document).ready(function () {  
       $("#priorityList").autocomplete({  
           source: function(request,response) {  
               $.ajax({  
                   url: "/Incident/Create",  
                   type: "POST",  
                   dataType: "json",  
                   data: { Prefix: request.term },  
                   success: function (data) {  
                       response($.map(data, function (item) {  
                           return { label: item., value: item.};  
                       }))  
  
                   }  
               })  
           },  
           messages: {  
               noResults: "", results: ""  
           }  
       });  
   }) 
</script>
<div class="col-md-16">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IncidentDescription" class="control-label"></label>
            <input asp-for="IncidentDescription" class="form-control" />
            <span asp-validation-for="IncidentDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-sm-3">
            <select asp-for="PriorityName" asp-items="Model.ListPriorities"></select>
        </div>
        <div class="col-sm-3">
            <select asp-for="CategoryName" asp-items="Model.ListCategories"></select>
        </div>
        <div class="col-sm-3">
            <select asp-for="DepartmentName" asp-items="Model.ListDepartments"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

